<table data-layout="default" ac:local-id="808691a2-ebc3-4d68-a0de-21c36ea25c23">
  <colgroup>
    <col style="width: 340.0px;" />
    <col style="width: 340.0px;" />
  </colgroup>
  <tbody>
    <tr>
      <td data-highlight-colour="#f4f5f7">
        <p><strong>Role</strong></p>
      </td>
      <td data-highlight-colour="#f4f5f7">
        <p><strong>Individuals</strong></p>
      </td>
    </tr>
    <tr>
      <td>
        <p>Incident Commander</p>
      </td>
      <td>
        {incident_commander}
      </td>
    </tr>
    <tr>
      <td>
        <p>Technical Lead</p>
      </td>
      <td>
        {technical_lead}
      </td>
    </tr>
  </tbody>
</table>

<h2>Summary</h2>

<ac:structured-macro ac:name="info" ac:schema-version="1" ac:macro-id="7c1dcbb8-d6b4-4c03-90b5-795d59b62429">
  <ac:rich-text-body>
    <p>This incident was classified as a <b>{severity}</b> incident.</p>
    <p>{severity_definition}</p>
  </ac:rich-text-body>
</ac:structured-macro>

<ac:structured-macro ac:name="note" ac:schema-version="1" ac:macro-id="610cadc8-5dee-44d2-b9d1-4ab5ebe49348">
  <ac:rich-text-body>
    <p>Provide a brief summary of the incident here.</p>
  </ac:rich-text-body>
</ac:structured-macro>