# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Docker
docker-compose.dev.yml

# Other
.vscode/
slack_app_manifest.yaml
test.py
logs/

.DS_Store
deploy/kubernetes/incident-bot/base/db.yaml
