apscheduler==3.8.1
feedparser==6.0.8
flask==2.0.2
flask-apscheduler==1.12.3
psycopg2==2.9.2
pyjokes==0.6.0
python-dotenv==0.19.2
requests==2.26.0
slackclient==2.9.3
slackeventsapi==3.0.0
sqlalchemy==1.4.29
waitress==2.0.0