alembic==1.12.1
apispec==6.3.0
apscheduler==3.10.4
atlassian-python-api==3.41.3
cerberus==1.3.5
flasgger==0.9.7.1
flask==2.2.3
flask-cors==4.0.0
flask-debugtoolbar==0.13.1
flask-jwt-extended==4.5.3
flask-limiter==3.5.0
flask-login==0.6.3
flask-marshmallow==0.15.0
marshmallow==3.20.1
marshmallow_sqlalchemy==0.29.0
opsgenie-sdk==2.1.5
pdpyras==5.1.3
psycopg2-binary==2.9.9
pytest==7.4.3
pytest-env==1.1.1
pytest-mock==3.12.0
pytest-sqlalchemy-mock==0.1.5
python-dotenv==1.0.0
python-json-logger==2.0.7
pytz==2023.3
PyYAML==6.0.1
requests==2.31.0
requests-mock==1.11.0
slack_bolt==1.18.0
slack_sdk==3.24.0
sqlalchemy==1.4.50
waitress==2.1.2
werkzeug==2.2.3
