alembic==1.13.1
apispec==6.6.1
apscheduler==3.10.4
atlassian-python-api==3.41.14
cerberus==1.3.5
flasgger==0.9.7.1
flask==3.0.3
flask-cors==4.0.1
flask-debugtoolbar==0.15.1
flask-jwt-extended==4.6.0
flask-limiter==3.7.0
flask-login==0.6.3
flask-marshmallow==1.2.1
marshmallow==3.21.3
marshmallow_sqlalchemy==1.0.0
opsgenie-sdk==2.1.5
pdpyras==5.2.0
psycopg2-binary==2.9.9
pytest==8.2.2
pytest-env==1.1.3
pytest-mock==3.14.0
pytest-sqlalchemy-mock==0.1.6
python-dotenv==1.0.1
python-json-logger==2.0.7
PyYAML==6.0.1
requests==2.32.3
requests-mock==1.12.1
slack_bolt==1.19.0
slack_sdk==3.30.0
sqlalchemy==2.0.31
waitress==3.0.0
werkzeug==3.0.3
