.navbar {
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

body {
  font-family: 'Latodsg', sans-serif;
  margin-bottom: 60px;
}

html {
  position: relative;
  min-height: 100%;
}
