name: Run unit tests

on:
  push:
    branches: [develop]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:13
        env:
          POSTGRES_DB: postgres
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: pytest
          POSTGRES_PORT: 5432
        ports:
          - 5432:5432
        # Set health checks to wait until postgres has started
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    timeout-minutes: 10
    strategy:
      matrix:
        python-version: ['3.12.6']
    env:
      # default: multiprocessing
      # threading is more stable on GitHub Actions
      BOLT_PYTHON_MOCK_SERVER_MODE: threading
    defaults:
      run:
        working-directory: .
    steps:
      - uses: actions/checkout@v4.1.7
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5.2.0
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install Poetry
        uses: snok/install-poetry@v1
        with:
          virtualenvs-create: true
          virtualenvs-in-project: true
          virtualenvs-path: .venv
          installer-parallel: true
      - name: Install dependencies
        run: poetry install --no-interaction --no-root
      - name: Run tests
        run: |
          export IS_TEST_ENVIRONMENT=true
          export POSTGRES_DB=postgres
          export POSTGRES_HOST=postgres
          export POSTGRES_PASSWORD=pytest
          export POSTGRES_PORT=5432
          export POSTGRES_USER=postgres
          source .venv/bin/activate
          pytest tests/
