name: Run unit tests

on:
  push:
    branches: [develop]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:13
        env:
          POSTGRES_DB: postgres
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: pytest
          POSTGRES_PORT: 5432
        ports:
          - 5432:5432
        # Set health checks to wait until postgres has started
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    timeout-minutes: 10
    strategy:
      matrix:
        python-version: ['3.12.4']
    env:
      # default: multiprocessing
      # threading is more stable on GitHub Actions
      BOLT_PYTHON_MOCK_SERVER_MODE: threading
    defaults:
      run:
        working-directory: .
    steps:
      - uses: actions/checkout@v4.1.7
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5.2.0
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          pip3 install -r requirements.txt
          pip3 install "pytest>=7.1.2"
          pip3 install "pytest-mock>=3.10.0"
          pip3 install "pytest-env>=0.8.1"
      - name: Run tests
        run: |
          pytest -vv tests/
