{% extends '/webapp/base.html' %} {% block content %}
{% if current_user.is_admin %}

<div class="box">
</div>

{% with messages = get_flashed_messages() %} {% if messages %}
<div class="box notification is-danger">
  {{ messages[0] }}
</div>
{% endif %} {% endwith %}

<p class="title">Users</p>
<div class="box">
  <div class="content">
    <div class="table-container">
      <table class="table is-bordered is-striped is-hoverable">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Role</th>
            <th scope="col">Admin</th>
            <th scope="col">Options</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          {% for u in users %}
          <tr>
            <td>{{ u.id }}</td>
            <td>{{ u.name }}</td>
            <td>{{ u.email }}</td>
            <td>{{ u.role }}</td>
            <td>{{ u.is_admin }}</td>
            <td>
              {% if not u.is_admin %}
              <a class="button is-danger is-focused is-hovered">Make Admin</a>
              {% endif %}
            <td>
              <form name="deleteUserButton" method="post" action="/admin/backend/delete_user">
                <input type="hidden" name="user_email" id="user_email" value="{{ u.email }}">
                <button class="button is-danger is-focused is-hovered">Delete</button>
              </form>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

<p class="title">Add New User</p>
<div class="box">
  <form method="POST" action="/admin/backend/create_user">
    <div class="field">
      <div class="control">
        <input class="input is-large" type="email" name="email" placeholder="Email" autofocus="" required />
      </div>
    </div>
    <div class="field">
      <div class="control">
        <input class="input is-large" type="text" name="name" placeholder="Name" autofocus="" required />
      </div>
    </div>
    <div class="field">
      <div class="control">
        <input class="input is-large" type="password" name="password" placeholder="Password" required />
      </div>
    </div>
    <div class="select is-large is-fullwidth">
      <select class="is-focused is-success" name="role" required>
        <option>Select role...</option>
        <option value="engineering">Engineering</option>
        <option value="cx">CX</option>
      </select>
    </div>
    <label class="checkbox">
      <input type="checkbox" name="is_admin">
      Administrator
    </label>
    <button class="button is-block is-info is-large is-fullwidth">
      Create User
    </button>
  </form>
</div>
{% endif %}
{% endblock %}