<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>{% block title %} {% endblock %}</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css" />
  <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}" />
  <link rel="icon" type="image/png" href="{{ url_for('static', filename= 'img/bot.png') }}" />
</head>

<body>
  <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{ url_for('index') }}">
        <img src="{{ url_for('static', filename= 'img/bot.png') }}" width="25" height="25" />
      </a>
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div id="navbar" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="{{ url_for('incidents') }}"> Incidents </a>
        <a class="navbar-item" href="{{ url_for('tasks') }}"> Tasks </a>
        <a class="navbar-item" href="{{ url_for('on_call') }}"> On-Call Schedule </a>
        <a class="navbar-item" href="{{ url_for('profile') }}"> My Profile </a>
      </div>
      <div class="navbar-end">
        <div class="navbar-item">
          {% if not current_user.is_authenticated %}
          <div class="buttons">
            <a class="button is-primary" href="{{ url_for('signup') }}">
              <strong>Sign up</strong>
            </a>
            <a class="button is-light" href="{{ url_for('login') }}"> Log in </a>
          </div>
          {% endif %}
          {% if current_user.is_authenticated %}
          <div class="buttons">
            <a class="button is-primary" href="{{ url_for('logout') }}">
              <strong>Logout</strong>
            </a>
            {% if current_user.is_admin %}
            <a class="button is-danger" href="{{ url_for('adminpanel') }}">
              <strong>Administrator Panel</strong>
            </a>
            {% endif %}
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </nav>
  <div class="container">{% block content %} {% endblock %}</div>
</body>

</html>