{% extends '/webapp/base.html' %} {% block content %}
<div class="box">
</div>

{% with messages = get_flashed_messages() %} {% if messages %}
<div class="box notification is-info">
  {{ messages[0] }}
</div>
{% endif %} {% endwith %}

<p class="title">Incidents</p>
<p class="subtitle">
  If any incidents have been created, they will be listed here.
</p>
<div class="box">
  <div class="content">
    <div class="table-container">
      <table class="table is-bordered is-striped is-hoverable">
        <thead>
          <tr>
            <th scope="col">Incident ID</th>
            <th scope="col">Slack Channel</th>
            <th scope="col">Status</th>
            <th scope="col">Severity</th>
            <th scope="col">Statuspage Incident</th>
          </tr>
        </thead>
        <tbody>
          {% if incidents|length < 1 %}<tr>
            <td>No incidents found.</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            </tr>
            {% else %}
            {% for inc in incidents %}
            <tr>
              <td>{{ inc.incident_id }}</td>
              <td><a href="https://{{ slack_workspace_id }}.slack.com/archives/{{ inc.channel_id }}" target="blank">Join
                  Channel</a></td>
              <td>
                <form name="set_status" method="post" action="/admin/backend/incidents/update_status">
                  <input type="hidden" name="channel_id" id="channel_id" value="{{ inc.channel_id }}">
                  <input type="hidden" name="channel_name" id="channel_name" value="{{ inc.channel_name }}">
                  <input type="hidden" name="ts" id="ts" value="{{ inc.dig_message_ts }}">
                  <div class="select is-danger">
                    <select name="set_status" class="is-focused" onchange="this.form.submit()">
                      {% for stat in statuses %}
                      {% if inc.status == stat %}
                      <option value="{{ stat }}" selected>{{ stat.title() }}</option>
                      {% else %}
                      <option value="{{ stat }}">{{ stat.title() }}</option>
                      {% endif %}
                      {% endfor %}
                    </select>
                  </div>
                </form>
              </td>
              <td>
                <form name="set_severity" method="post" action="/admin/backend/incidents/update_severity">
                  <input type="hidden" name="channel_id" id="channel_id" value="{{ inc.channel_id }}">
                  <input type="hidden" name="channel_name" id="channel_name" value="{{ inc.channel_name }}">
                  <input type="hidden" name="ts" id="ts" value="{{ inc.dig_message_ts }}">
                  <div class="select is-danger">
                    <select name="set_severity" class="is-focused" onchange="this.form.submit()">
                      {% for sev in severities %}
                      {% if inc.severity == sev %}
                      <option value="{{ sev }}" selected>{{ sev.upper() }}</option>
                      {% else %}
                      <option value="{{ sev }}">{{ sev.upper() }}</option>
                      {% endif %}
                      {% endfor %}
                    </select>
                  </div>
                </form>
              </td>
              {% if inc.sp_incident_id != None %}
              <td><a href="{{ statuspage_url }}/incidents/{{ inc.sp_incident_id }}">View in Statuspage</a></td>
              {% else %}
              <td>None</td>
              {% endif %}
            </tr>
            {% endfor %}
            {% endif %}
        </tbody>
      </table>
    </div>
  </div>
</div>

<p class="title">Open New Incident</p>
<p class="subtitle">
  Start a new incident.
</p>
<form class="box" action="/admin/backend/incidents/create_incident" method="POST">
  <div class="field">
    <div class="control">
      <input class="input is-large" type="text" name="description" placeholder="Incident Description" autofocus=""
        required />
    </div>
  </div>
  <button class="button is-block is-info is-large is-fullwidth">Submit</button>
  </article>
</form>
{% endblock %}