{% extends '/webapp/base.html' %} {% block content %}
<div class="box">
</div>

<p class="title">{{ botname.title() }} Administration</p>
<div class="box">
  Welcome to the management portal for {{ botname.title() }}.
</div>
<p class="title">Configuration</p>
<p class="subtitle">
  Some handy information regarding the configuration of {{ botname.title() }}.
</p>
<div class="box">
  <div class="content">
    <div class="table-container">
      <table class="table is-bordered is-striped is-hoverable">
        <thead>
          <tr>
            <th scope="col">Setting</th>
            <th scope="col">Value</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Slack Workspace</td>
            <td>{{ config.slack_workspace_id }}</td>
          </tr>
          <tr>
            <td>Incidents Digest Channel</td>
            <td>{{ config.incidents_digest_channel }}</td>
          </tr>
          <tr>
            <td>Auto Create Incident on React Enabled</td>
            <td>{{ config.incident_auto_create_from_react_enabled }}</td>
          </tr>
          <tr>
            <td>Auto Create Incident on React Emoji Name</td>
            <td>{{ config.incident_auto_create_from_react_emoji_name }}</td>
          </tr>
          <tr>
            <td>Auto Invite Group on Incident Create Enabled</td>
            <td>{{ config.incident_auto_group_invite_enabled }}</td>
          </tr>
          <tr>
            <td>Auto Invite Group on Incident Group Name</td>
            <td>{{ config.incident_auto_group_invite_group_name }}</td>
          </tr>
          <tr>
            <td>External Provider Status Enabled</td>
            <td>{{ config.incident_external_providers_enabled }}</td>
          </tr>
          <tr>
            <td>External Providers Status Providers</td>
            <td>{{ config.incident_external_providers_list }}</td>
          </tr>
          <tr>
            <td>Incident Channel Topic</td>
            <td>{{ config.incident_channel_topic }}</td>
          </tr>
          <tr>
            <td>Incident Guide Link</td>
            <td>{{ config.incident_guide_link }}</td>
          </tr>
          <tr>
            <td>Incident Postmortems Link</td>
            <td>{{ config.incident_postmortems_link }}</td>
          </tr>
          <tr>
            <td>Statuspage Integration Enabled</td>
            <td>{{ config.statuspage_integration_enabled }}</td>
          </tr>
          <tr>
            <td>Statuspage Page ID</td>
            <td>{{ config.statuspage_page_id }}</td>
          </tr>
          <tr>
            <td>Statuspage URL</td>
            <td>{{ config.statuspage_url }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}