{% extends '/webapp/base.html' %} {% block content %}
<div class="column is-4 is-offset-4">
  <h3 class="title">Login</h3>
  <article class="message is-warning">
    <div class="message-header">
      <p>Heads Up!</p>
      <button class="delete" aria-label="delete"></button>
    </div>
    <div class="message-body">
      By using this system, you acknowledge that your activities will be logged and your session will be monitored.
      This tool should only be used by authorized parties.
    </div>
  </article>
  <div class="box">
    {% with messages = get_flashed_messages() %} {% if messages %}
    <div class="notification is-danger">{{ messages[0] }}</div>
    {% endif %} {% endwith %}
    <form method="POST" action="/admin/login">
      <div class="field">
        <div class="control">
          <input class="input is-large" type="email" name="email" placeholder="Your Email" autofocus="" required />
        </div>
      </div>
      <div class="field">
        <div class="control">
          <input class="input is-large" type="password" name="password" placeholder="Your Password" required />
        </div>
      </div>
      <div class="field">
        <label class="checkbox">
          <input type="checkbox" name="remember" />
          Remember me
        </label>
      </div>
      <button class="button is-block is-info is-large is-fullwidth">
        Login
      </button>
    </form>
  </div>
</div>
{% endblock %}