{% extends '/webapp/base.html' %} {% block content %}
<div class="column is-4 is-offset-4">
  <h3 class="title">Sign Up</h3>
  <div class="box">
    {% with messages = get_flashed_messages() %} {% if messages %}
    <div class="notification is-danger">
      {{ messages[0] }}. Go to
      <a href="{{ url_for('login') }}">login page</a>.
    </div>
    {% endif %} {% endwith %}
    <form method="POST" action="/admin/signup">
      <div class="field">
        <div class="control">
          <input class="input is-large" type="email" name="email" placeholder="Email" autofocus="" required />
        </div>
      </div>

      <div class="field">
        <div class="control">
          <input class="input is-large" type="text" name="name" placeholder="Name" autofocus="" required />
        </div>
      </div>

      <div class="field">
        <div class="control">
          <input class="input is-large" type="password" name="password" placeholder="Password" required />
        </div>
      </div>

      <div class="select is-large is-fullwidth">
        <select class="is-focused is-success" name="role" required>
          <option>Select role...</option>
          <option value="engineering">Engineering</option>
          <option value="cx">CX</option>
        </select>
      </div>

      <button class="button is-block is-info is-large is-fullwidth">
        Sign Up
      </button>
    </form>
  </div>
</div>
{% endblock %}